*{
    margin: 0;
    padding: 10px;
}

#Body{
    background-color: #696969;
}
.button:hover{
    background-color: #aaaaaa;
/*    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);*/
}
.button:active{
    transform: translateY(4px);
    box-shadow: 0 5px #666
}
.button{
    background-color: #d1d1d1;
/*    border-radius: 28px;*/
    padding: 15px 32px; 
    border: 3px solid #aaaaaa;
    box-shadow: 0 9px #999;
/*    transition-duration: 0.4s;*/
}